body {
    margin: 0;
    padding: 0;
}

.content-wrap {
    display: flex;
    height: 100vh;

}

.left {
    display: flex;
    flex-direction: column;
    background-image: url(halie.jpeg);
    flex: 3;
    background-size: cover;
    background-position: center center;
    justify-content: space-between;

}

.left img{
    height: 120px;
}

.odin-logo {
    align-self: center;
    justify-content: center;
    margin-top: 20vh;
    font-size: 1.5rem;
    color: white;
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 15px 130px;

}


/* right-section */

.right {
    flex-direction: column;
    display: flex;
    flex: 5;
    justify-content: center;
    padding-left: 48px;
}

.text {
    max-width: 90%;
    font-size: 30px;
    
}
.form-container{
    display: flex;
    flex-direction: column;
    
}

form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vh;
    row-gap: 20px;
    column-gap: 90px;
}

input,label{
    display: block;
}


input[type=text] {
    width: 200px;
 }



