:root{
    --padding-left:38px
}
body {
    margin: 0;
    padding: 0;
}

.content-wrap {
    display: flex;
    height: 100vh;

}

.left {
    display: flex;
    flex-direction: column;
    background-image: url(halie.jpeg);
    flex: 3;
    background-size: cover;
    background-position: center center;
    justify-content: space-between;

}

.left img{
    height: 120px;
}

.odin-logo {
    align-self: center;
    justify-content: center;
    margin-top: 20vh;
    font-size: 1.5rem;
    color: white;
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 15px 130px;

}


/* right-section */

.right {
    flex-direction: column;
    display: flex;
    flex: 5;
    justify-content: center;
    /* padding-left: 38px; */
    /* margin-left: 28px; */
    margin-bottom: 100px;
}

.text {
    max-width: 71%;
    font-size: 25px;
    padding-left: var(--padding-left);

    
}
.form-container{
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 5px 4px rgba(0, 0, 0, 0.1);
    padding-left: var(--padding-left);
    padding-bottom: 30px;
    
}

form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vh;
    row-gap: 20px;
    column-gap: 90px;
}

input,label{
    display: block;
}

input {
    border: 1px solid #e5e7eb;
}
input[type=text] {
    width: 200px;
    height: 20px;
 }

 .create_account{
     margin-top: 30px;
     padding-left: var(--padding-left);
 }



